<!DOCTYPE html>
<html lang="en">

<%- include ('head') %>

    


      
        <body>

        <div class="container mt-3 w-50">
            <div class="card shadow-lg" id="formulario-pergunta">
                <div class="card-header">
                    <h3>Realizar pergunta</h3>
                </div>
                <div class="card-body">
                    <form method="post" >
                        
                        <br><label>Pergunta</label>
                        <textarea placeholder="" id="ask" class="form-control" name="description" required value=""></textarea>
                        <br>
                        <button id="btnask" class="btn btn-outline-primary">Perguntar</button>
                    </form>
                </div>
            </div>
        </div>


       


    </body>

    
    <%- include ('footer') %>

    <script src="/js/sentAsk.js"></script>

</html>