<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guia perguntas</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
</head>

<nav class="navbar navbar-light bg-primary shadow">
    <a class="navbar-brand" href="/">
        <img src="/images/guia.png">
    </a>
    <a href="/ask" class="text-white"> Fazer pergunta</a>
</nav>
